body {background-color:#FEF9E7;}
h1 {style=font-family:Georgia;color:#F8C471;text-align:center; text-decoration-line: underline;}
.Intro{style=font-family:Georgia; font-size:medium;}
.postre {style=font-family:Georgia; font-size:medium;}
.receta {style=font-family:Georgia; font-size:medium;}
h2 {style=font-family:Georgia;color:#E59866; text-decoration-line: underline;}
h3 {style=font-family:Georgia;color:#E59866; text-decoration-line: underline;}
.mapa {style=font-family:Georgia;text-align:center; font-size:large}
